<div class="row" style="padding-top: 30px">

    <div class="col-md-4 col-lg-3 col-xl-3 col-sm-4">
        <div class="sidebar-nav" style="padding: 5px">
            <div class="navbar navbar-default" role="navigation" style="background-color: dimgrey">


                <ul class="nav" style="color: #d3d3d3">
                    <div class="nav-title" style="background-color:#00004c ;padding: 1px"><h4>Water</h4>
                    </div>
                    <li><a ui-sref="services.water prepaid"><i class="fa fa-1x fa-tint" style="color: #00004c"></i>
                        Prepaid Water Metering
                        <i class="fa fa-1x fa-caret-right pull-right " style="margin-top: 7px"></i></a></li>

                    <li><a ui-sref="services.water engineering"><i class="fa fa-1x fa-tint" style="color: #00004c"></i>
                        Water Engineering
                        <i class="fa fa-1x fa-caret-right pull-right " style="margin-top: 7px"></i></a></li>

                    <div class="nav-title" style="background-color:#00004c ;padding: 1px"><h4>Offered</h4></div>
                    <li><a ui-sref="services.ami"><i class="fa fa-1x  fa-retweet" style="color: #00004c"></i> AMI<i
                            class="fa fa-1x fa-caret-right pull-right " style="margin-top: 7px"></i></a>
                    </li>

                    <li><a ui-sref="services.vending"><i class="fa fa-1x  fa-credit-card" style="color: #00004c"></i>
                        Vending, Billing & .....<i
                                class="fa fa-1x fa-caret-right pull-right " style="margin-top: 7px"></i></a></li>


                    <li><a ui-sref="services.profiling"><i class="fa fa-1x  fa-table" style="color: #00004c"></i>
                        Profiling, Reporting & ...<i
                                class="fa fa-1x fa-caret-right pull-right " style="margin-top: 7px"></i></a>
                    </li>

                    <li><a ui-sref="services.field"><i class="fa fa-1x fa-map-marker" style="color: #00004c"></i> Field
                        Services<i class="fa fa-1x fa-caret-right pull-right " style="margin-top: 7px"></i></a>
                    </li>

                    <li><a ui-sref="services.consulting"><i class="fa fa-1x fa-comments" style="color: #00004c"></i>
                        Consulting Services<i class="fa fa-1x fa-caret-right pull-right "
                                                  style="margin-top: 7px"></i></a>


                        <div class="nav-title" style="background-color:#00004c ;padding: 1px"><h4>Business Focus</h4>
                        </div>
                    <li><a ui-sref="services.commercial"><i class="fa fa-1x fa-building-o" style="color: #00004c"></i>
                        Commercial
                        <i class="fa fa-1x fa-caret-right pull-right " style="margin-top: 7px"></i></a></li>
                    <li><a ui-sref="services.municipal"><i class="fa fa-1x fa-user" style="color: #00004c"></i>
                        Municipal</i><i class="fa fa-1x fa-caret-right pull-right " style="margin-top: 7px"></i></a>


                        <div class="nav-title" style="background-color:#00004c ;padding: 1px"><h4>Milestones</h4></div>
                    <li><a ui-sref="services.case"><i class="fa fa-1x fa-tint" style="color: #00004c"></i> Case Study<i
                            class="fa fa-1x fa-caret-right pull-right " style="margin-top: 7px"></i></a></li>


                </ul>


            </div>
        </div>
    </div>

    <div class="col-md-8 col-lg-9 col-xl-9 col-sm-8">
        <div ui-view="services-content" ng-animate="{enter : 'fade-enter'}"></div>
    </div>

</div>