   <div class="row">
                <h3 class="m-10"><i class="fa fa-info-circle"></i> Municipal </h3>
                <hr>
</div>
                <div class="row">

                    <ul class="m-10">
                        <li>Understand all electricity and water aspects throughout the community.</li>
                        <li>Improve electricity and water management.Improve revenue collection.</li>
                        <li>Improve service delivery.</li>
                        <li>Manage community energy consumption.</li>
                        <li>Control and reduce fraud and faults.</li>
                        <li>Accurate Billing.</li>
                        <li>Cut cost and enhance revenue.</li>

                </ul>
                    </div>

            </div>
            <hr>
            <div class="row">

                <h4 class="m-10"><i class="fa fa-square fa-1x"></i>Some of the Invirotel Municipal Services Include:</h4>
                <ul class="m-10">
                    <li>Meter management- Electricity and Water.</li>
                    <li>Portfolio management- Entire community.</li>
                    <li>Savings and recoveries- Revenue Control programs.</li>
                    <li>Vending management- End to end Vending Solution.</li>
                    <li>Billing management- Comprehensive accurate bills.</li>
                    <li>Reporting- Revenue enhancing control.</li>
                    <li>FET Colleges- Internship programs.</li>
                    <li>Skills Transfer- Formal and informal training.</li>
                    <li>Funding- Flexible options.</li>


                </ul>
            </div>

        <hr>
            <div class="row">
                <div class="col-md-9"></div>
                <h4 class="m-10"><i class="fa fa-square fa-1x"></i>Invirotel Pricing Structure</h4>

                <p style="padding-left: 50px">INVIROTEL has a flexible and creative approach for funding municipal and other utility metering
                    projects.
                    The only activity, which needs to be priced, <br>is the Pre-project plan Audit. After the Audit the
                    extent, scope and time-lines of the
                    project can be accurately estimated in order to ascertain real costs. <br>Funding proposal is therefore
                    based on real on-site costs
                    and time-lines.
                </p>
                <hr>
                <h4 class="m-10"><i class="fa fa-square fa-1x"></i>The following funding models are available:</h4>
                <ul class="m-10">
                    <li>Total cost to Municipality.</li>
                    <li>Total funded solution paid over time from billed consumption and pre-paid vending.</li>
                    <li>Partially funded model. INVIROTEL can facilitate the funding of any projects of any scope and
                        duration.
                    </li>


                </ul>
            </div>

        <hr>
        </div>

    </div>
</div>