

        <div class="row">
            <h3 class="m-10"><i class="fa fa-1x fa-credit-card"></i> Vending,Billing & Tariff Management</h3>
            <hr>
            <div>

            <div class="row">
                <div class="col-md-10">


                    <ul>
                        <li>End-to end solution.</li>
                        <li>Real time.</li>
                        <li>Comprehensive set of reporting.</li>
                        <li>Automatic remote or manual recharging.</li>
                        <li>XML Vend (If Required).</li>



                </ul>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-10">
                <h4 class="m-10"><i class="fa fa-square fa-1x"></i>Vending options include:</h4>
                <ul class="m-10">
                    <li>Credit Card.</li>
                    <li>Internet purchases (EFT).</li>
                    <li>Mobile purchase (E-wallet).</li>
                    <li>Vouchers (STS).</li>
                    <li>Over the counter (Cash).</li>


                </ul>
                    </div>
            </div>

            <hr>
            <div class="thumbnail" style="margin-left: 20px; margin-right: 20px; border-color: #73bf45; width: 900px;">
            <div class="row">

                <div class="col-md-6 col-md-offset-2"><img src="images/vending.png"  style=" width: 500px; height: 500px" ></div>
            </div>
            </div>

        </div>

    </div>
    <div class="row">


        <p class="m-10"> Pre-paid vending of electricity to INVIROTEL pre-paid meters is facilitated either by automatic remote charging of the meters<br> by the vended
        amount or by the generation of STS compliant tokens.    </p></div>
    </div>

    <div class="row">


<h4 class="m-10"><i class="fa fa-square fa-1x"></i>Billing</h4>
            <ul class="m-10">
                <li>Accurate bills.</li>
                <li>Billing schedules.</li>
                <li>Penalties, levies and connection fees are included in the bills.</li>
                <li>Bills can be viewed 24/7.</li>
                <li>Supports manual meter readings where manual readings are uploaded.</li>



            </ul>
        </div>
    </div>

    <div class="row">


            <h4 class="m-10"><i class="fa fa-square fa-1x"></i>Tariff Management</h4>
            <ul class="m-10">
                <li>Supports all tariffs-Standard, block, spot, straight and time of use.</li>
                <li>All South African Municipal tariffs catered for.</li>
                <li>All ESKOM tariffs catered for.</li>
                <li>Bills can be viewed 24/7.</li>
                <li>Customised tariffs.</li>



            </ul>
        </div>
    </div>


</div>