<div class="row">
    <h3 class="m-10"><i class="fa fa-1x fa-tint"></i> Prepaid Water Metering</h3>
    <hr>
    <p class="m-10">Water metering is the process of measuring water usage through a device (known as intelligent water meter) that records the amount of water that passes<br> through a pipe, usually for billing purposes.
        At Nuevoteq, we believe that metering is the fairest way to pay for water. Water is a precious commodity,<br> therefore must be treated as such. Here is where we come in. The usage of water meters raises people’s awareness of how much water they use at home,<br> and encourages them to avoid wasting water. Water conservation is the most cost-effective and environmentally sound way to reduce our demand for water<br> thereby expanding the network and customer base
        of water companies. By saving water, everyone benefits.</p>
   </div>



