

<div class="row">

        <h3 class="m-10"><i class="fa fa-1x  fa-comments"></i> Downloads </h3>
    </div>

</div>
    <div><hr></div>

<div class="row">

    <div class="col-md-3 col-lg-3">

        <h4>Company</h4>
        <ul>

            <li><a  href="pdf/Company Profile.pdf " class="link">Company Profile</a></li>
            <li><a  href="pdf/Product Catalogue.pdf " class="link">Product Catalogue</a></li>
            <li><a  href="pdf/Services Brochure.pdf " class="link">Services Brochure</a></li>
            <li><a  href="pdf/Commercial Brochure.pdf " class="link">Commercial Brochure</a></li>
            <li><a  href="pdf/Municipal Brochure.pdf " class="link">Municipal Brochure</a></li>


<h4>Manuals</h4>

            <li><a  href="pdf/M160R-Installation.pdf" class="link">M160R-Load Control with Display</a></li>
            <li><a  href="pdf/M160RWD-Installation.pdf" class="link">M160RWD - Load Control Meter Without Display</a></li>
            <li><a  href="pdf/M180R-Installation%20manual.pdf" class="link">M180R - Load Control 80A Meter</a></li>
            <li><a  href="pdf/Concentrator-installation%20manual1.pdf" class="link">C320CT - Concentrator Unit </a></li>
            <li><a  href="pdf/M360-Installation1.pdf" class="link">M360 - Load Control Meter With Display  </a></li>
            <li><a  href="pdf/M320CTG%20Bulk%20Meter.pdf" class="link">M380 - Direct Connection </a></li>
            <li><a  href="pdf/Multi%20Clamper%20Installation%20Manual.pdf" class="link">Multi Clampers</a></li>


        </ul>


    </div>

    <div class="col-md-3 col-lg-3">
        <h4>Technical Specifications</h4>
        <ul>

            <h4>Single Phase Meters</h4>

            <li><a  href="pdf/M180R.pdf " class="link">M180R - Load Control 80A Meter</a></li>
            <li><a  href="pdf/M160R.pdf " class="link">M160R - Load Control Meter With Display</a></li>
            <li><a  href="pdf/M160RWD.pdf " class="link">M160RWD - Load Control Meter Without Display</a></li>
            <li><a  href="pdf/M160RSB.pdf " class="link">M180RSB - Prepayment Load Control Meter</a></li>



            <h4>Three Phase Meters</h4>

            <li><a  href="pdf/M320CTG Bulk Meter.pdf " class="link">M320CTG - Standalone Bulk Meters With GPRS</a></li>
            <li><a  href="pdf/M380,M320CT,M380R.pdf " class="link">M380 - Direct Connection M380R - Direct Connection With Relay M320CT - CT Connection</a></li>
            <li><a  href="pdf/M360.pdf " class="link">M360 - Load Control Meter With Display</a></li>


            <h4>Concentrator</h4>

            <li><a  href="pdf/C320CT Concentrator.pdf " class="link">C320CT - Concentrator Unit</a></li>




            <h4>Display Customer Interface Unit</h4>

            <li><a  href="pdf/D120.pdf " class="link">D120- Display Unit</a></li>
            <li><a  href="pdf/D120KP.pdf " class="link">D120KP - Split Display Unit With Keypad</a></li>




            <h4>Appliance control device </h4>

            <li><a  href="pdf/A130R.pdf " class="link">A130R - Appliance Control DeviceSingle Phase PLC
                Control Switch</a></li>





            <h4>Circuit and appliance monitoring</h4>

            <li><a  href="pdf/Enerhub.pdf " class="link">Enerhub - Energy Gateway</a></li>
            <li><a  href="pdf/Multi Clampers.pdf " class="link">Multi - Clampers - MC8 & MC12</a></li>


        </ul>


    </div>
</div>
