<div class="row" style="padding-top: 30px">
    <div class="col-md-4 col-lg-3 col-xl-3 col-sm-4">
        <div class="sidebar-nav" style="padding: 5px">
            <div class="navbar navbar-default" role="navigation">
                <div class="nav-title" style="background-color: #73bf45; padding: 1px"><h4>Tools & Resources</h4></div>
                <ul class="nav">

                    <li><a ui-sref="tools.downloads"><i class="fa fa-1x  fa-cloud-download" style="color: #73bf45"></i>
                         Downloads<i class="fa fa-1x fa-caret-right pull-right" style="margin-top: 7px"></i></a>
                    </li>

                    <li><a ui-sref="tools.software"><i class="fa fa-1x  fa-laptop" style="color: #73bf45"></i> Software /
                        Dashboard<i
                                class="fa fa-1x fa-caret-right pull-right " style="margin-top: 7px"></i></a></li>


                    <li><a ui-sref="tools.distributor"><i class="fa fa-1x  fa-sitemap" style="color: #73bf45"></i>
                         Become Agent<i
                                class="fa fa-1x fa-caret-right pull-right " style="margin-top: 7px"></i></a>
                    </li>


                </ul>


            </div>
        </div>
    </div>

    <div class="col-md-8 col-lg-9 col-xl-9 col-sm-8">
        <div ui-view="tools-content" ng-animate="{enter : 'fade-enter'}"></div>
    </div>

</div>