
    <div class="row">
        <h3 class="m-10"><i class="fa fa-1x fa-laptop"></i> Software/Dashboard</h3>
        <hr>
        </div>

        <div class="row">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="images/software/software.png" alt="..."
                     style="width: 300px; height: 300px">
            </a>
<div class=" col-lg-8 col-md-8 col-sm-8">
            <div class="media-body" style="padding-top: 50px">

                 <p class="m-10">INVIROTEL provides a wealth of tools for analysis, reports, alerts and control to both the Utility and
                    the end-user Customer. Clients can get real time
                    data from a circuit level right up to an entire region or country. Clients can view their consumption
                    and bills in real time and at all times. Internet and all
                    smart mobile devices are supported.


                </p>

                <p class="m-10">

                    INVIROTEL is a proudly South African, world-first Internet of Things eco-system for smart energy.
                    INVIROTEL uses a secure, cloud-based, big-data measurement, verification, aggregation, master meter
                    vending, tariff and billing management
                    system.
                </p>
            </div>
        </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10">



<hr>
            <p class="m-10">
<i class="fa fa-square" style="color: #73bf45"></i>
                Secure - data streams into the system from connected devices according to industry standard security
                protocols.
            </p>

            <p class="m-10">
                <i class="fa fa-square" style="color: #73bf45"></i>
                Cloud-based - The system is available through cloud computing, eliminating substantial infrastructural and maintenance costs whilst guaranteeing
                24/7 availability.

            </p>

            <p class="m-10">
                <i class="fa fa-square" style="color: #73bf45"></i>
                Big-data - The ability to store and process in real time massive amounts of data is the hallmark of successive modern enterprise systems. Google,
                Facebook, LinkedIn and Twitter are examples of companies that can processes peta-bytes of data in minutes.

            </p>

            <p class="m-10">
                <i class="fa fa-square" style="color: #73bf45"></i>
                INVIROTEL uses technologies pioneered by these companies to manage big data.

            </p>

            <p class="m-10">
                <i class="fa fa-square" style="color: #73bf45"></i>
                INVIROTEL stores, processes and handles massive amounts of electricity data from any device that measures and monitors utility data and
                especially electricity usage data.

            </p>

            <p class="m-10">
                <i class="fa fa-square" style="color: #73bf45"></i>
                INVIROTEL is a platform for virtualizing a utility. Large and small utilities use the platform for all their monitoring, measuring, billing, client-service and
                analysis functions of electricity consumption.

            </p>
        </div>


    </div>

</div>