<div class="row">
    <h3 class="m-10"><i class="fa fa-1x fa-user"></i> Board Of Directors</h3>
    <hr>

    <p class="m-10">INVIROTEL has a permanent staff compliment of fifteen, including a software and support team, a qualified
        lawyer, electrician and electronics
        engineer. <br>The leadership consists of the board of directors, including non-executive directors and the
        executive team. <br>The INVIROTEL staff
        compliment is supported by the Voltex sales force, installation and field teams.</p>
</div>
<hr>
<div class="row">

    <div class="col-lg-2 col-md-2 col-sm-2"><img src="images/about/directors/modishane.jpg" style="width: 100px; height: 100px"
                                                 class="thumbnail"></div>
    <div class="col-md-10 col-md-10 col-sm-10">
        <h4>Modishane Sebona</h4>

        <p>8 years experience in various sub-sectors of the broader ICT industry including IT infrastructure, electronics and M2M as well as modern Telecommunications Infrastructure.

            Roles played include application support engineering, project and technical support management, solutions consulting, M2M solution design, telecoms service and infrastructure as well as business development..</p></div>
</div>
<hr>
<div class="row">


    <div class="col-lg-2 col-md-2 col-sm-2"><img src="images/about/directors/Ayal.jpg" style="width: 100px; height: 100px"
                                                 class="thumbnail"></div>
    <div class="col-md-10 col-md-10 col-sm-10">
        <h4>Ayal Rosenberg</h4>

        <p>Ayal is the Chief Technology Officer of Invirotel and provides broader support to the Maredi
            Telecoms Group of Companies.<br> He was a Microsoft MVP for Architecture and a previous Regional Director
            for MS SA. He was part of the Microsoft Patterns & Practices Smart <br>Client and CAB Forums based in Redmond.
            Ayal has been involved in the design, architecture and deployment of large scale enterprise system for the largest blue-chip
            companies in South Africa. In the past 6 years Ayal has been involved in combining software with green initiatives and smart energy.


        </p></div>
</div>

<hr>
