<div class="row" style="padding-top: 30px">
    <div class="col-md-4 col-lg-3 col-xl-3 col-sm-4">
        <div class="sidebar-nav" style="padding: 5px">
            <div class="navbar navbar-default" role="navigation">

                <div class="nav-title" style="background-color:#73bf45; padding: 1px; font-size: 8px"><h4>Profile</h4>

                    <div class="col-sm-4"></div>
                </div>

                <ul class="nav">

                    <li class="nav"><a ui-sref="about.about"><i class="fa fa-1x   fa-group " style="color: ##73bf45"></i>
                        About Us <i class="fa fa-1x fa-caret-right pull-right " style="margin-top:  7px"></i></a>
                    </li>

                    <li class="nav"><a ui-sref="about.directors">
                        <i class="fa fa-1x fa-user" style="color: ##73bf45"></i>
                        Board Of Directors
                        <i class="fa fa-1x fa-caret-right pull-right " style="margin-top:  7px" ></i></a>
                    </li>
                    <li class="nav">
                        <a ui-sref="about.what">
                            <i class="fa fa-1x  fa-wrench" style="color: ##73bf45"></i>
                            What We Do
                            <i class="fa fa-1x   fa-caret-right pull-right " style="margin-top: 7px" ></i>
                        </a>
                    </li>
                </ul>

                <div class="nav-title" style="background-color:#73bf45; padding: 2px "><h4>Operations</h4></div>

                <!-- TODO Specify margin-top: 7px as css style -->

                <ul class="nav">
                    <li class="nav"><a ui-sref="about.operating">
                        <i class="fa fa-1x fa-puzzle-piece" style="color: #73bf45"></i>
                        Operating Partners
                        <i class="fa fa-1x fa-caret-right pull-right" style="margin-top: 7px;"></i></a>
                    </li>
                </ul>

                <!-- Next Header -->

                <div class="nav-title" style=" background-color:#73bf45; padding: 2px ">
                    <h4>Social Development</h4></div>
                <ul class="nav">


                    <li class="nav"><a ui-sref="about.socio">
                        <i class="fa fa-1x fa-eye" style="color: #73bf45"></i>
                        Social Development<i class="fa fa-1x   fa-caret-right pull-right " style="margin-top: 7px"></i></a>
                    </li>


                </ul>


            </div>

        </div>
    </div>

    <div class="col-md-8 col-lg-9 col-xl-9 col-sm-8">
        <div ui-view="about-content" ng-animate="{enter : 'fade-enter'}"></div>
    </div>

</div>