<div class="row">
    <h3 class="m-10"><i class="fa fa-1x fa-wrench"></i> What We Do</h3>
    <hr>
    <p class="m-10">At Nuevoteq, we manage and nurture our relationship as we interact with our clients.We use technology to organize, automate and synchronize business processes and we provide a
        well-structured technical support. We make certain that people, processes and technology
        work in synergy to increase profitability and reduce operational cost.</p>
    <br>
    <p class="m-10">INVIROTEL's unique value-add is in the software harnessing the data gathering and control abilities of the
        hardware devices.
        The service requires software, hardware and installation elements.</p>

    <h5 class="m-10">INVIROTEL combines smart electricity and water hardware as well as propriety software to provide a
        comprehensive centralized solution for:</h5>
</div>
<hr>
<div class="row">
    <ul class="m-10">
        <li>Meter Management</li>

        <li>Portfolio Management</li>

        <li>Vending Management</li>

        <li>Billing Management</li>

        <li>Profiling</li>

        <li>Analysis</li>

        <li>Reporting</li>
        </ul>

</div>

<div class="row">


    <p class="m-10">Invirotel also offers field services by a qualified team for the installation and commissioning of all
        hardware.
        A professional consultancy services is available for further <br>assistance with all the needs of our
        clients.</p></div>




