<div class="row">
    <h3 class="m-10"><i class="fa fa-keyboard-o"></i> Appliance Control Device</h3>
    <hr>
</div>

<div class="row">

    <div class="col-lg-6 col-md-6 col-sm-6">

    <div class="thumbnail" style="border-color: #00004C">
        <img src="images/Products/A130R.png">

        <div class="caption">
            <h4 class="m-10">A130R - Appliance Control Device Single Phase PLC Control Switch</h4>
            <hr>
            <ul class="m-10">
                <li>Real two-way “A” band Power Line Communication.</li>
                <li>Remote disconnection/reconnection by command from the control center.</li>
                <li>Automatic disconnection/reconnection according to shading table sent from the concentrator
                    periodically.
                </li>
                <li>Reconnection by command from the CIU (optional).</li>

            </ul>
            <hr>
            <p>
                <a type="button" href="pdf/A130R.pdf " class="btn btn-primary btn-sm">Download full Spec
                </a>
            </p>

        </div>
    </div>
</div>



</div>