

    <div class="row">
        <h3 class="m-10"><i class="fa fa-plus-square"></i> Three Phase Meters</h3>
        <hr>
</div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="thumbnail" style="border-color: #00004C">
                <img src="images/Products/M320CTG.png">
                <div class="caption">
                    <h4 class="m-10">M320CTG - Standalone Bulk Meters With GPRS</h4>
                    <hr>
                    <ul class="m-10">
                        <li>Class 2 active active energy, Class 2 reactive energy.3x5(20)A,
                            CT(current transformers) connection meter.</li>
                        <li>Two way communication access to all units.</li>
                        <li>Load control Programs.Reports the power loading of each of
                            the three phases.</li>
                        <li>Informs immediately on a power failures by SMS.</li>
                        <li>Handles TOU.</li>
                        <li>Cellular communication networks - Quad band GSM850/900/
                            1800/1900 MHz.</li>



                    </ul>
                    <hr>
                    <p>
                        <a type="button" href="pdf/M320CTG Bulk Meter.pdf " class="btn btn-primary btn-sm">Download full Spec
                        </a>
                    </p>

                </div>
            </div>
        </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="thumbnail" style="border-color: #00004C">
                <img src="images/Products/M380,R.png">
                <div class="caption">
                    <h4>M380 - Direct Connection
                        M380R - Direct Connection With Relay
                        M320CT - CT Connection</h4>
                    <hr>
                    <ul>
                        <li>Class 2 active energy & Class 2 reactive energy.</li>
                        <li>M380, M380R  - 3x20(80) A, direct connection electricity meters.
                            M320CT - 3x5(20)A, CT connection electricity meter.</li>
                        <li>Real two-way “A” band Power Line Communication.</li>
                        <li>Internal real time clock updated periodically by concentrator.</li>
                        <li>M380R - Internal 100A load switching elements in each phase.</li>
                        <li>Remote disconnection/reconnection. </li>
                        <li>Remotely Limits customer maximum power demand.
                        </li>


                    </ul>
                    <hr>
                    <p>
                        <a type="button" href="pdf/M380,M320CT,M380R.pdf " class="btn btn-primary btn-sm">Download full Spec
                        </a>
                    </p>

                </div>
            </div>
        </div>

    </div><!-- End row -->
    <div class="row">

        <hr>

        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="thumbnail" style="border-color: #00004C">
                <img src="images/Products/M360.png">
                <div class="caption">
                    <h4>M360 - Load Control Meter With Display</h4>
                    <hr>
                    <ul>
                        <li>20(63) A, Class 2, direct measurement static watt-hour meter.</li>
                        <li>Real two-way “A” band Power Line Communication.</li>
                        <li>Calculates locally TOU consumption at multiple tariffs.</li>
                        <li>Repeats and amplifies signals transmitted by other distant units towards
                            the concentrator over the power network - No distance limitation.</li>
                        <li>Small size - triple width DIN - rail mounted.</li>



                    </ul>
                    <hr>
                    <p>
                        <a type="button" href="pdf/M360.pdf " class="btn btn-primary btn-sm">Download full Spec
                        </a>
                    </p>

                </div>
            </div>
        </div>

        </div>
