<div class="row">
    <h3 class="m-10"><i class="fa fa-credit-card"></i> Hand Held vending unit</h3>
    <hr>
</div>


<div class="row">

    <p>The Handheld Vending Unit is used in conjunction with the Intelligent Water Meter. It stands as the link between the customer with their Meter and the Meter <br>Management System (MMS).  Vending points are situated at locations convenient for customers in order for water credits to be purchased at the customers’<br> convenience. Each transaction is supported by a receipt printed from a dedicated printer</p>


</div>