    <div class="row">
        <h3 class="m-10"><i class="fa fa-tint"></i> Water Pulse Unit</h3>
        <hr>
</div>
        <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="thumbnail" style="border-color: #73bf45">
                <img src="images/Products/rftu.png"></a>
                <div class="caption">
                    <h4>A130R - Appliance Control Device Single Phase PLC Control Switch</h4>
                    <hr>
                    <ul>
                        <li>Unlicensed RF communication 433MHZ.</li>
                        <li>Ultra Low Power Consumption.</li>
                        <li>Battery outstanding services life more than 15 years.</li>
                        <li>Stand alone Unit.</li>
                        <li>Extremely small- D X L = 30 X 165 mm.</li>

                    </ul>
                    <hr>
                    <p>
                        <button type="button" ui-sref="about.about" class="btn btn-primary btn-sm">Download full Spec
                        </button>
                    </p>

                </div>
            </div>
        </div>
    </div>
