<div class="widewrapper main">
    <img src="images/banner2.jpg" class="img-responsive" alt="Invirotel">
</div>

<hr>


<div class="row-fluid" style="margin-left: 20px;margin-right:20px; margin-bottom: 60px">

    <div class="col-xs-12 col-sm-4 col-lg-4">
        <div class="box">
            <div class="icon">
                <div class="image"><i class="fa fa-users fa-5x"></i></div>
                <div class="info">
                    <h3 class="title">About Us</h3>

                    <p>
                        We are
                        an integrated smart electricity, water metering and
                        propriety software company. Invirotel provides smart
                        metering, monitoring and evaluation tools for the
                        Public, Private as well as the Mass Residential
                        sectors.
                    </p>

                    <div class="more">
                        <a ui-sref="about.about" title="About Us">
                            Read More <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="space"></div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-lg-4">
        <div class="box">
            <div class="icon">
                <div class="image"><i class="fa fa-cogs"></i></div>
                <div class="info">
                    <h3 class="title">Products</h3>

                    <p>
                        Our product range focuses on smart solutions
                        for the electricity and water sectors. INVIROTEL's
                        unique value-add is in the software harnessing the data
                        gathering and control abilities of the hardware devices.
                        The service requires software, hardware and installation
                        elements.
                    </p>

                    <div class="more">
                        <a ui-sref="products.products" title="Title Link">
                            Read More <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="space"></div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-lg-4">
        <div class="box">
            <div class="icon">
                <div class="image"><i class="fa fa-eye"></i></div>
                <div class="info">
                    <h3 class="title">Socio-Economic Development</h3>

                    <p>
                        Our skills development approach is based
                        on internship programs with FET Colleges in
                        South Africa. Mentorship and training is offered to
                        selected unemployed graduates who join the
                        internship program....
                        <br>
                        <br>
                    </p>

                    <div class="more">
                        <a ui-sref="about.socio" title="Title Link">
                            Read More <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<div class="row">


</div>


</div>


<div class="row target "
     style="  background-color:#00004c ; padding-top: 0px; padding-left: 50px; padding-right: 50px; padding-bottom: 10px; height: 145px;  ">

    <div class="col-md-2 col-sm-2 col-xs-2 col-md-offset-1 text-center "
         style="padding-top: 20px; align-content: center">
        <div class="thumbnail" style="background-color: transparent; border-color: transparent; height: 80px">
            <h4 style="font-size: 14pt; color: #ffffff; letter-spacing: 10px">AMI</h4>
            <a ui-sref="services.ami">
                <img height="80" width="80" src="images/main/icons/white/1ami.png">
            </a>

        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 text-center" style="padding-top: 20px; align-content: center">
        <div class="thumbnail" style="background-color: transparent; border-color: transparent; height: 80px">
            <h4 style="font-size: 14pt; color: #ffffff; letter-spacing: 10px">Vending</h4>
            <a ui-sref="services.vending">
                <img height="80" width="80" src="images/main/icons/white/1vending.png">
            </a>

        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 text-center"
         style="padding-top: 20px; align-content: center; height: 80px ; padding-bottom: 20px">
        <div class="thumbnail" style="background-color: transparent; border-color: transparent">
            <h4 style="font-size: 14pt; color: #ffffff; letter-spacing: 10px">Profiling</h4>
            <a ui-sref="services.profiling">
                <img height="80" width="80"
                     src="images/main/icons/white/1profiling.png"
                        >
            </a>

        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 text-center"
         style="padding-top: 20px; align-content: center ; padding-bottom: 20px">
        <div class="thumbnail" style="background-color: transparent; border-color: transparent; height: 80px">
            <h4 style="font-size: 14pt; color: #ffffff; letter-spacing: 10px">Field</h4>

            <a ui-sref="services.field">
                <img height="80" width="80"
                     src="images/main/icons/white/1field.png"
                        >

            </a>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 text-center"
         style="padding-top: 20px ; align-content: center; height: 80px; padding-bottom: 20px">
        <div class="thumbnail" style="background-color: transparent; border-color: transparent">
            <h4 style="font-size: 14pt; color: #ffffff; letter-spacing: 10px">Consulting</h4>
            <a ui-sref="services.consulting">
                <img height="80" width="80" src="images/main/icons/white/1consulting.png">
            </a>

        </div>
    </div>
</div>

</div>
</div>


</div>
</div>


<div class="row" style="padding-top:40px ">

    <div class="col-lg-3">
        <div class="thumbnail" style="border-color: #00004c ">
            <div style="padding: 2px"><i class="fa fa-calendar fa-2x" style="padding: 2px; "></i><strong> Recent
                News & Events</strong></div>
            <hr>
            <div class="list-group">
                <a href="http://www.techcentral.co.za/bidvest-business-now-accepts-bitcoin/48521/"
                   class="list-group-item  " target="_blank">
                    Bidvest Business accepts Bitcoin
                </a>
                <a href="http://www.coindesk.com/south-african-smart-meters-incorporate-bitcoin-prepaid-electricity/"
                   class="list-group-item" target="_blank">How South Africans Pay for Power</a>
                <a href="http://www.reeep.org/events/8th-southern-african-energy-efficiency-convention-2013-saeec"
                   class="list-group-item" target="_blank">SAEE Expo</a>
                <a href="http://www.africaelectricity.com/" class="list-group-item" target="_blank">Africa Electicity
                    Expo</a>
                <hr>
                <i class="fa fa-calendar fa-2x"></i><strong> Useful</strong><br>
                <hr>
                <a ui-sref="tools.downloads" class="list-group-item"><i class="fa fa-cloud-download fa-1x"></i>
                    Downloads
                </a>
                <a ui-sref="tools.distributor" class="list-group-item"><i class="fa fa-arrows-alt fa-1x"></i> Become A
                    Distributor/Agent
                </a>
                <hr>
                <i class="fa fa-list fa-2x"></i><strong> Invirotel Newsletter</strong>
                <hr>
                <p style="text-align:center ">Subscribe to our Monthly Newsletter to stay updated with our latest
                    Products, Campaigns, News, Competitions & Events</p>

                <div class="input-group" style="padding-top: 5px">

                    <input type="text" class="form-control" placeholder="Email Address">
      <span class="input-group-btn">
        <button class="btn btn-success" style="width: 100px" type="button">Subscribe</button>
      </span>
                </div>
            </div>

        </div>


    </div>
    <div class="col-lg-8">
        <h4 style="font-size: 14pt; padding-bottom: 20px; text-align: center; letter-spacing: 10px"><strong> Business
            focus</strong></h4>


        <div class="col-md-12">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="images/main/property.png" alt="...">
                </a>

                <div class="media-body">
                    <h4 class="media-heading">Commercial</h4>
                    With state of the art technology We offer clients an extensive hands on experience,
                    These are some of the Benefits:<br>
                    <ul>
                        <li>Understand all electricity and water through a centralized property utility system.</li>
                        <li>Improve electricity and water management.</li>
                        <li>Improve revenue collection.</li>
                        <li>Manage tenants energy consumption.</li>
                        <li>Control and reduce fraud and faults.</li>
                        <li>Avoid overestimated bills.Cut cost and boost profit</li>
                        <a ui-sref="services.commercial">Read more....</a>


                    </ul>
                </div>
            </div>
            <hr>
        </div>


        <hr>


        <div class="row">
            <div class="col-md-12">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="images/main/map1.gif" alt="...">
                    </a>

                    <div class="media-body">
                        <h4 class="media-heading">Government</h4>
                        INVIROTEL has a flexible and creative approach for funding municipal and other utility metering
                        projects. The only activity, which needs to be priced, is the Pre-project plan Audit. After the
                        Audit the extent, scope and time-lines of the project can be accurately estimated in order to
                        ascertain real costs. Funding proposal is therefore based on real on-site costs and time-lines.
                        <a ui-sref="services.municipal">Read more....</a>
                    </div>
                </div>
                <hr>
            </div>
            <hr>


            <hr>


            <div class="row">
                <h4 style="font-size: 14pt; padding-bottom: 20px; text-align: center; letter-spacing: 10px"><strong>
                    Partners</strong></h4>

                <div class="col-md-3"><a target="_blank" href="http://www.pdev.co.za" class="center-block">
                    <div class="row" style="padding-left: 40px; padding-top: 20px; width: 40px; height: 30px"><img src="images/main/pdev.png"
                                                                                        alt=""/>
                    </div>
                </a></div>

                <div class="col-md-3"><a target="_blank" href="http://www.voltex.co.za" class="center-block">
                    <div class="row" style="padding-left: 10px; padding-top: 20px"><img src="images/main/vol.png"
                                                                                        alt=""/>
                    </div>
                </a></div>
                <div class="col-md-3"><a target="_blank" href="http://www.vgcwater.com" class="center-block">
                    <div class="row" style="padding-left: 10px; padding-top: 20px"><img src="images/main/vcs.png" alt="" style="width: 300px ; height: 70px">
                    </div>
                </a></div>
                <div class="col-md-3"><a target="_blank" href="http://www.lagoswater.org" class="center-block">
                    <div class="row" style="padding-left: 60px; padding-top: 20px"><img src="images/main/lagos.png" style="width: 250px ; height: 70px"
                                                                                        alt=""/>
                    </div>
                </a></div>
            </div>


        </div>
    </div>


</div>